.spacer {
  height: 5px;
}
.button-dark {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  text-decoration: none; 
  min-width: 204px;
  height: 40px;
  max-width: 220px;
  background-color: #37474F;
  transition: background-color 0.2s linear; 
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
  border-radius: 4px;
  font-family: Helvetica, Arial; 
  font-size: 14px; 
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: 600; 
  letter-spacing: normal; 
  -webkit-font-smoothing: antialiased; 
  flex-grow: 2; 
}

.button-dark:hover{ 
  background-color: #2C393F; 
  box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

#imageUrl {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}